/* Timings */
.animation--first {
    animation-delay: 0.1s;
}

.animation--second {
    animation-delay: 3s;
}

.animation--third {
    animation-delay: 3.5s;
}

.animation--fourth {
    animation-delay: 6.5s;
}

.animation--fifth {
    animation-delay: 7s;
}

.animation--sixth {
    animation-delay: 11.5s;
}

/* Animations */
.typing-animation {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    
    animation-name: typing-animation--6chars;
    animation-duration: 2s;
    animation-timing-function: steps(6);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}


.typing-animation--19chars {
    animation-name: typing-animation--19chars;
    animation-duration: 4s;
    animation-timing-function: steps(19);
}

@keyframes typing-animation--6chars {
    from {
        width: 0;
    }    
    
    to {
        width: 6ch;
    }
}

@keyframes typing-animation--19chars {
    from {
        width: 0;
    }    
    
    to {
        width: 19ch;
    }
}

.cursor-animation {
    white-space: nowrap;
    overflow: hidden;
    
    border-right: 10px solid var(--rosewater-macchiato);
    
    animation-name: cursor-animation;
    animation-duration: 1s;
    animation-timing-function: step-end;
    animation-iteration-count: 3;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.cursor-animation--blink5 {
    animation-iteration-count: 5;
}

.cursor-animation--blinkinf {
    width: 1ch;
    animation-iteration-count: infinite;
}

@keyframes cursor-animation {
    33% {
        border-color: transparent;
    }    
    
    67% {
        border: var(--rosewater-macchiato);
    }
    
    100% {
        border-color: transparent;
    }
}

.popup-animation {
    opacity: 0;
    
    animation-name: popup-animation;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes popup-animation {
    0% {
        transform: translateY(-10rem);
        opacity: 0;
    }    
    
    45% {
        opacity: 0;
    }
    
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}